
.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 65px;
    justify-content: center;
    background-color: blueviolet;
}

.header a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}